.Rproj.user
.Rhistory
.RData
*.zip
RProgramming/Programming_Assignment_1/specdata
RProgramming/Programming_Assignment_3/hospital-data.csv
RProgramming/Programming_Assignment_3/outcome-of-care-measures.csv
*pdf
StagingArea
