.Rproj.user
.Rhistory
.RData
*.zip
RProgramming/Programming_Assignment_1/specdata
RProgramming/Programming_Assignment_3/hospital-data.csv
RProgramming/Programming_Assignment_3/outcome-of-care-measures.csv
*pdf
StagingArea
ExData_Plotting1/
household_power_consumption.txt
GettingAndCleaningDataProject2
FEDSTATS_Country.csv
FGDP.csv
Fss06hid.csv
Quiz3.Rproj
jeff.jpg

